
			.axis path,
			.axis line {
				fill: none;
				stroke: gray;
				shape-rendering: crispEdges;
				color: gray;
			}
			
			.axis text {
				font-family: sans-serif;
				font-size: 12px;
				color: gray;
			}
			
	